{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container-fluid p-0">
        <div class="d-flex h-100">
            <div class="col-sm-3 col-lg-2 p-0">
                <div class="d-flex align-items-start flex-column h-100">
                    <div class="mb-auto w-100" style="background-color: grey;">
                        Enemy domain<br />Enemy domain<br />Enemy domain<br />Enemy domain<br />Enemy domain<br />Enemy domain
                    </div>
                    <div class="mb-auto w-100" style="background-color: grey;">
                        Control panel<br />Control panel<br />Control panel<br />Control panel<br />Control panel<br />Control panel
                    </div>
                    <div class="w-100" style="background-color: grey;">
                        Player domain<br />Player domain<br />Player domain<br />Player domain<br />Player domain<br />Player domain
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-5 p-0" style="min-width: 420px;">
                <div class="d-flex align-items-start flex-column h-100">
                    <div class="d-flex justify-content-center w-100">
                        <div class="d-flex justify-content-center flex-wrap mb-auto" id="enemy-area">
                            {% for i in 1..1 %}
                                <div class="card card-active">
                                    <img src="{{ asset('images/cards/shudde-mell-tgs.jpg') }}" class="img-fluid">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="flex-grow-1 d-flex align-items-center w-100">
                        <div class="flex-column w-100">
                            <div class="d-flex justify-content-center">
                                <div id="enemy-commit-1"></div>
                                <div id="enemy-commit-2"></div>
                                <div id="enemy-commit-3"></div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div id="story-1">
                                    <div class="card card-story">
                                        <img src="{{ asset('images/cards/a-conspiracy-of-scholars-coc.jpg') }}" class="img-fluid">
                                    </div>
                                </div>
                                <div id="story-2">
                                    <div class="card card-story">
                                        <img src="{{ asset('images/cards/a-new-challenge-tss.jpg') }}" class="img-fluid">
                                    </div>
                                </div>
                                <div id="story-3">
                                    <div class="card card-story">
                                        <img src="{{ asset('images/cards/combing-the-archives-lr.jpg') }}" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div id="player-commit-1">
                                    {% for i in 1..1 %}
                                        <div class="card card-passive">
                                            <img src="{{ asset('images/cards/cthuloid-spawn-som.jpg') }}" class="img-fluid">
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="player-commit-2">
                                    {% for i in 1..2 %}
                                        <div class="card card-passive">
                                            <img src="{{ asset('images/cards/cthuloid-spawn-som.jpg') }}" class="img-fluid">
                                        </div>
                                    {% endfor %}
                                </div>
                                <div id="player-commit-3">
                                    {% for i in 1..3 %}
                                        <div class="card card-passive">
                                            <img src="{{ asset('images/cards/cthuloid-spawn-som.jpg') }}" class="img-fluid">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center w-100">
                        <div class="d-flex justify-content-center flex-wrap" id="player-area">
                            {% for i in 1..5 %}
                                <div class="card card-active">
                                    <img src="{{ asset('images/cards/cthuloid-spawn-som.jpg') }}" class="img-fluid">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 p-0">
                <div class="d-flex align-items-start flex-column h-100">
                    <div class="mb-auto w-100" style="background-color: lightblue;">
                        Enemy decks<br />Enemy decks<br />Enemy decks<br />Enemy decks<br />Enemy decks<br />Enemy decks
                    </div>
                    <div class="mb-auto w-100" style="background-color: cornflowerblue;">
                        Player hand<br />Player hand<br />Player hand<br />Player hand<br />Player hand<br />Player hand
                    </div>
                    <div class="w-100" style="background-color: lightblue;">
                        Player decks<br />Player decks<br />Player decks<br />Player decks<br />Player decks<br />Player decks
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2 p-0">
                <div class="d-flex align-items-start flex-column h-100">
                    <div class="mb-auto w-100" style="background-color: grey;">
                        <img src="{{ asset('images/cards/aziz-chatuluka-tss.jpg') }}" class="img-fluid">
                    </div>
                    <div class="w-100 h-100" style="overflow: auto; background-color: grey;">
                        {% for i in 1..100 %}
                            {{ i }} chat message<br />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
